@import "reset.less";
@import "animate.less";
@phone:    ~"only screen and (max-width: 480px)";
@retina: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)",
~"only screen and (min-resolution: 144dpi)";

@grey1:#ececec;
@main_header:#0091EA;/*main header*/


//@private_header:#009688;
@private_header:#4CAF50;


@white1:#ffffff;


body{
	overflow: hidden;
	background-color: @grey1;
}
#chatapp{
	position: fixed;
	height:100%;
	width:100%;
	font-family: Helvetica;
	.spinner{
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index:100;
		text-align: center;
		padding-top:20%;
	}
	.chatwindow{
		.header,.footer{
			position: fixed;
		}
		.footer{
			border-top:1px solid #ccc;
		}
		.counter{
					display:inline-block;
					background-color: #cc0000;
					color:#fff;
					width:16px;
					height:16px;
					font-size:10px;
					position:absolute;
					font-weight: bold;
					right:5px;
					top:5px;
					border-radius: 8px;
					line-height: 16px;
					&[data-count='0']{
						display: none;
					}
				}
		.header{
			width:100%;
			background-color: @main_header;
			color:#fff;
			height:50px;
			.tab{
				display: inline-block;
				position:relative;
				width:60px;
				text-align: center;
				color:@grey1;
				float:left;
				//border-right: 1px solid #ccc;
				padding:0 10px;
				height:50px;
				line-height:50px;
				text-decoration: none;
				&:last-child{
					float:right;
					border:none;
					width:40px;
					/*padding-right:20px;*/
					/*@media @phone{
						width: 25%;	
					}*/
					
				}
				&.selected{
					background-color:darken(@main_header,10%);
				}
				.icon{
					width:24px;
					position: relative;
					top:16px;
					&.avatar{
						top:5px;
						width: 40px;
						height: 40px;
						border-radius:20px;
						//left:20px;
					}
				}
				.occupancy{
					position: absolute;
					font-size:12px;
					top:10px;
					line-height: 12px;
				}
			}
		}
		.content{
			.appview{
				display: none;
				.scroller{
					-webkit-overflow-scrolling: touch;
					position:fixed;
					top:50px;
					width:100%;
					background-color: @grey1;
					bottom:50px;
					vertical-align: bottom;
					overflow-y:scroll;
				}
				&[data-tab="userslist"]{
					.user{
						/*width:100%;*/
						display: block;
						padding:10px;
						background-color: #fff;
						/*margin:5px;*/
						margin-bottom:1px;
						cursor: pointer;
						color:#333;
						&.active{
							background-color:lighten(@private_header,40%);
							color:@white1;
						}
						.avatar{
							width:40px;
							border:1px solid #ccc;
							border-radius: 20px;
							vertical-align: middle;
							margin-right:5px;
						}
						&.self_true{
							cursor: default;
							.u{
								color:darken(@grey1,15%);
								margin-left:10px;
							}
						}
					}
					.scroller{
						bottom:0;
					}
				}
				&[data-tab="mainchat"]{
					.wrapper{
						position:static;
						top:50px;
						width:100%;
						background-color: @grey1;
						bottom:50px;
						vertical-align: bottom;
						overflow-y:auto;
						.scroller{
							background-color:@grey1;
							position:fixed!important;
							bottom:50px!important;
							height:auto!important;
							top:auto!important;
							overflow-y:scroll;
							-webkit-overflow-scrolling: touch;
						}
					}
				}
				&[data-tab="conversations"]{
						.scroller{
							bottom:0!important;
							.conversation{
								width: 100%;
								display: block;
								&:active{
									background-color:lighten(@private_header,40%);
									color:@white1;
								}
								color:#333;
								cursor: pointer;
								position: relative;
								height:50px;
								margin-bottom:1px;
								.avatar,.user,.lastmsg{
									position: absolute;
								}
								background-color: #fff;
								padding:10px;
								.avatar{
									top:15px;
									img{
										width:40px;
										height: 40px;
										border-radius: 20px;
									}
								}
								.user{
									left:60px;
									top:20px;

								}
								.lastmsg{
									color:#999;
									font-size:12px;
									left:60px;
									top:40px;
									div{
										display: inline;
									}
									.time{
										color:#ccc;
										padding-left:20px;
									}
								}
								&.unread{
									.lastmsg{
										color:#000;
										.message{
											font-weight: bold;
										}
									}

								}
							}
						}

						
						
					
				}
				&[data-tab="settings"]{
					.scroller{
						bottom:0;
					}
				}
			}
		}
		.footer{
			bottom:0;
			height:50px;
			background-color: #ccc;
			width: 100%;
			z-index:10000;
			input{
				background-color:#fff;
				-webkit-appearance: none;
				border-radius: 0;
				border:none;
				width:100%;
				height: 50px;
				padding:10px 100px 10px 10px; 
				font-size:16px;
			}
			a.button{
				position: absolute;
				visibility: hidden;
				padding:10px 20px;
				color:#fff;
				background-color: @main_header;
				font-size:12px;
				right:7px;
				top:7px;
				/*line-height: 40px;*/
				font-size:16px;
				text-decoration: none;
				border-radius:25px;
			}
		}
		.chatline{
			position: relative;
			line-height: 18px;
			.avatar{
				position: absolute;
				left:10px;
				width:40px;
				border:1px solid #ccc;
				border-radius:20px;
			}
			padding-left:60px;
			/*padding-top:5px;*/
			padding-right:10px;
			padding-bottom:25px;

			.user{
				cursor: pointer;
				padding-top:5px;
				display: inline-block;
				font-weight: bold;
				padding-right:10px;
			}
			.time{
				color:#ccc;
				display: block;
				padding-top: 5px;
				/*font-style: italic;*/
				font-size:12px;
			}
		}
	}
	.private_window{
		/*-webkit-animation-duration: 0.8s;*/
		/*animation-duration: 0.8s;*/
		z-index:10000;
	    position: fixed;
    	width: 100%;
    	height: 100%;
    	background-color: #fff;
    	.top_bar{
    		background-color: @private_header;
    		color:@white1;
    		height:50px;
    		position: relative;
    		text-align: center;
    		.avatar{
    			position: absolute;
    				right:10px;
    				top:5px;
    			img{
    				width:40px;
    				height: 40px;
    				border-radius: 20px;
    			}
    		}
    		.back{
    			position: absolute;
    			left:0px;
    			top:0px;
    			color:#fff;
    			line-height: 50px;
    			font-weight: bold;
    			text-decoration: none;
    			height:50px;
    			width:100px;
    			text-align: left;
    			&:active{
    				background-color:darken(@private_header,5%)
    			}
    			img{
    				position: absolute;
    				left:10px;
    				width:20px;
    				top:16px;
    			}
    		}
    		.counter{
    			top:-13px;
    			right:-13px;
    		}
    		.title{
    			position: relative;
    			top:13px;
    		}
    	}
    	.chatlines{
    		background-color:@grey1;
    		position: fixed;
    		bottom:50px;
    		top:50px;
    		width:100%;
    		.wrapper{
    			position: absolute;
    			bottom:0px;
    			background-color: @grey1;
    			width: 100%;
    			overflow-y:scroll;
    			-webkit-overflow-scrolling: touch;
    		}
    	}
	}
	.empty{
		color:#ccc;
		padding:100px;
		text-align: center;
		font-style: italic;
	}
	div.row{
		
		margin-bottom:10px;
		&.spacetop{
			margin-top:20px;
		}
		&.spacebottom{
			margin-bottom:20px;
		}
	}
	a{
		color:@main_header;
		text-decoration: none;
	}
	form{
		width:280px;
		@media @phone{
			width: 90%;
		}
		margin:20px auto;
		
		label{
			display: block;
			line-height:30px;
			input{
				display: block;
				padding:10px;
				width:100%;
				border-radius:0;
				font-size:16px;
				
			}
			small{
				display: block;
				font-size:12px;
				color:#666;
			}

		}
		a.button,input[type='submit']{
				display: block;
				
				width:100%;
				background-color: @main_header;
				color:#fff;
				width:100%;
				border:none;
				padding:10px 0;
				border-radius: 0;
				font-size:16px;
				text-transform: uppercase;
				-webkit-appearance: none;
				text-align: center;
				display: block;
				&.quiet{
					background-color: lighten(@main_header,30%);
				}
				&.special{
					background-color: magenta;
				}
			}
	}
}